{% include "header.html" %}
<div class="container">
  <div class="page-header">Message Board done by bussiere.</div>

  <div class="row">
    <div class="span4">Pseudo :</div>
    <div class="span8">{{ message.Pseudo }}</div>
     </div>
       <div class="row">
    <div class="span4">Date :</div>
    <div class="span8">{{ message.Date }}</div>
     </div>
       <div class="row">
    <div class="span4">Description :</div>
    <div class="span8">{{ message.Description }}</div>
     </div>
  <div class="row">
    <div class="span8">Message :</div>
  </div>
    <div class="row">
     <div class="span8" >{{ message.Message }}</div>
  </div>

  <div class="row">
    <div class="span1"><a href="../message/1"><<</a></div>
     <div class="span1"><a href="../message/{{ minus }}"><</a></div>
     <div class="span1"><a href="../message/{{ supp }}">></a></div>
     <div class="span1"><a href="../message/{{total}}">>></a></div>
  </div>
  <br>
<a href="../../../">Retour</a>
<br>
  <div class="row">
    <div class="span8">Code Source : <a href="../invitation/">Fallow the rabbit</a></div>
  </div>
</div>

{% include "footer.html" %}